.docs {
  padding: 0 2rem;
  display: flex;
  min-height: 80vh;
}

.sidebar {
  width: 240px;
  background: #f7f7f7;
  padding: 1rem;
  border-right: 1px solid #ddd;
}

.topicBtn {
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.25rem;
  text-align: left;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

.topicBtn:hover {
  background-color: #eaeaea;
}

.active {
  background-color: #ddd;
  font-weight: bold;
}

.content {
  flex: 1;
  padding: 2rem;
}
