.wrapper {
  padding: 1rem 0 6rem;
  background-color: #f8fafc;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  text-align: center;
  margin-bottom: 1rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #1e293b;
  margin-bottom: 1rem;
}

.title span {
  color: #14b8a6;
}

.subtitle {
  font-size: 1rem;
  color: #475569;
  max-width: 40rem;
  margin: 0 auto;
  line-height: 1.75rem;
}

.card {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 3rem 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  border: 1px solid #e2e8f0;
}

.section {
  margin-bottom: 1rem;
  scroll-margin-top: 2rem;
}

.sectionTitle {
  font-size: 1rem;
  font-weight: 600;
  color: #1e293b;
  margin-bottom: 1rem;
}

.sectionText {
  color: #475569;
  line-height: 1.75rem;
  margin-bottom: 1rem;
}

.subListIntro {
  font-weight: 500;
  color: #475569;
  margin-bottom: 0.5rem;
}

.subList {
  padding-left: 1.25rem;
  list-style: disc;
  color: #475569;
  line-height: 1.6rem;
}
